* {}

html {
    font-size: 14px;
}

.text-muted {
    color: gray;
}

.container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    justify-content: start;
}

aside {
    /* background-color: lightgray; */
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    width: 35vh;
    height: 90vh;
    border-radius: 15px;
    margin: 1rem 0 1rem 1rem;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    padding: 1.2rem;
}

.logo-container {
    /* Default direction; row (horizontal) */
    display: flex;
}

.logo-container>img {
    width: 3.2vh;
    /* height: 2vh; */
    margin-right: 0.6rem;
}

.profile-container {
    margin-top: 1.2rem;
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.profile-container>#avatar img {
    width: 64px;
    /* height: 64px; */
    border-radius: 50%;
}

nav>ul {
    margin-left: -2.2rem;
}

/* Or .nav-menu */
nav>ul>li {
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

#ad {
    /* bottom: 0;
    position: absolute;
    width: 15rem; */
    position: relative;
    border-color: lightgray;
    border-radius: 8px;
    border-style: solid;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top: 8rem;
}

#ad button {
    margin-top: 1.2rem;
}

main {
    margin: 1.2rem 1.5rem 1.2rem 1.5rem;
    width: 100vw;
}

main .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section #overview-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .card {
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    margin-right: 1.2rem;
    width: 15vw;
    height: 8rem;
    padding: 1.2rem 0 0 1.2rem;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    transition: all 300ms ease;
}

section .card:hover {
    box-shadow: none;
}

section .card .rate {
    font-size: 10px;
}

section#middle-panel {
    /* display: flex;
    justify-content: start; */
    margin-top: 1.5rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    width: 100%;
}

section#middle-panel #total-revenue {
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    min-height: 560px;
    width: 100%;
}

section#middle-panel #total-revenue h2 {
    margin-left: 1.2rem;
}

section#middle-panel #total-revenue #total-revenue-panel {
    /* position: relative; */
    /* border-style: solid;
    border-color: lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    text-align: center;
    /* padding: 1rem; */
    margin: 1.2rem 2rem;
    height: 75%;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}

section#middle-panel #total-revenue #total-revenue-panel #username {
    font-weight: bolder;
}

section#middle-panel #total-revenue-panel #total-income-panel {
    margin: 1.2rem 4rem;
    padding: 1.2rem 0;
    border-style: solid;
    border-radius: 8px;
    border-color: lightgray;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
}

#total-revenue #avatar img {
    width: 200px;
}

section#middle-panel #graph {
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

section#middle-panel #graph h2 {
    margin-left: 1.2rem;
}


section#middle-panel #graph-panel {
    /* border-style: solid;
    border-color: lightgray; */
    border-radius: 8px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    height: 85%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}

footer {
    text-align: center;
}